body {
    margin: 0;
    padding: 0;
    background-color: #6cbef5;
}
        /*CSS do Título*/
.titulo{
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    color: #e5f38c;
    -webkit-text-stroke-width: 0.1px; 
    -webkit-text-stroke-color: #000;
    font-family: 'Karantina';
    -webkit-text-stroke-width: 0.7px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
}